.button {
	display: inline-block;
	margin: $margin/2 0 $margin/2 $margin;
	padding: $margin/2;
	color: $backgroundColor;
	background: $actionColor;
	@include border-radius($borderRadius);
}

.upload-button {
	display: inline-block;
	@extend .dav, .dav-plus;

	form {
		display: none;
	}
}