$borderColor: #777777;
$backgroundColor: #ffffff;

body {
	margin: 0;
	padding: 0;
}

.media-display {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.media-display-hidden { /* hidden state */
		display: none
	}

	.image-display, .video-display, .iframe-display {
		display: none;
		border: none;
	}
	&.media-display-image .image-display {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	}
	&.media-display-video .video-display, &.media-display-audio .video-display {
		display: block;
	}
	&.media-display-iframe .iframe-display {
		display: block;
	}
	&.media-display-unsupported {
	}

	.media-display-overlay {
		width: 100%;
		height: 100%;
		background: #333333;
		opacity: 0.3;
	}

	.media-display-content-table {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: table;

		.media-display-content-cell {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			.media-display-content-border {
				display: inline-block;
				background: $backgroundColor;
				border: 1px solid $borderColor;
			}
		}
	}

	.media-display-content {
		display: inline-block;
		overflow: hidden;

		.media-display-canvas {
			display: inline-block;
			overflow: hidden;
			max-width: 100%;
			max-height: 100%;
			
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.media-display-footer {
			text-align: center;
		}
	}

	.media-display-close {
		display: inline-block;
		position: relative;
		top: -0.6em;
		right: -0.6em;
		float: right;
		width: 1.2em;
		height: 1.2em;
		margin: 0 0 -1.2em -1.2em;
		cursor: pointer;
		background: $backgroundColor;
		border: 1px solid $borderColor;
		border-radius: 0.6em;
	}
}