$backgroundColor: #ffffff;
$backgroundColorHighlight: #f5f5f5;
$borderColorLight: #eeeeee;
$borderColor: #dddddd;
$textColor: #333333;
$actionColor: #3377cc;
$borderRadius: 3px;
$margin: 10px;
$colorModPercent: 20%;

@import "mixins.scss";
@import "buttons.scss";
@import "dialog.scss";
@import "media-display.scss";
@import "webdav-browser.scss";
@import "icons.scss";

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $textColor;
}

.main {
	margin: 10px 1%;
}

a {
	text-decoration: none;
	color: $actionColor;
	outline: 0;

	&:hover, &:focus, &:active {
		color: darken($actionColor, $colorModPercent);
		text-decoration: underline;
	}
}